body{
  gap:10px;
}
#topcont {
  width: 200px;
  height: 200px;
  background-color: blue;
  position: relative;
}
#middle-cont {
  width: 200px;
  height: 200px;
  background-color: yellow;
  position: relative;
  left: 200px;
  bottom: 200px;
}
#bottom-cont {
  width: 200px;
  height: 200px;
  background-color: red;
  position: relative;
  left: 400px;
  bottom: 400px;
}
