body {
  --main-color: #3FC1C9;
  --secondary-color: #364F6B;
  --trinary-color:#FC5185;
  margin-top: 112px;
  font-family: "eurostile", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
}
