body {
  --main-color: dodgerblue;
  --secondary-color: orange;
  margin: 30px;
  margin-top: 112px;
  font-family: "eurostile", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
}
