#button {
  display: grid;
  place-content: center;
  align-items: center;
  height: 50px;
  width: 150px;
  border-radius: 25px;
  color: var(--main-color);
  border: 2.5px solid var(--main-color);
  font-size: 0.95em;
  overflow: hidden;
}
#resume {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}
