.section{
    margin: 36px 72px;
}
.projects{
    align-items: center;
    justify-self: center;
    margin-top: 50px;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: stretch;
    .project{
        border: solid black;
        width: 33.333%;
        flex: none;
        
    }
    #inprogress{
        align-content: center;
        justify-self: center;
        color:black;
        background-color: white;
        border-style: outset;
        width: 1fr;
        border-radius: 10px;
        margin: 25%;
        
        text-align: center;
        img{
            width: 50%;
            height: 33%;
            align-self: center;

    }
    }
    
}
