#skillDiv {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-bottom: 25px;
  // align-content: stretch;
  // background-color: whitesmoke;
  align-items: flex-start;
  align-content: flex-start;
  border-radius: 20px;
  // flex-grow: 1;
  height: fit-content;
  width: 40vw;
  @media screen and (max-width: 992px) {
  
    font-size: 8px;
  }
  @media screen and (max-width: 768px) {
    
    font-size: 8px;
  }
  @media screen and (max-width: 576px) {
    
    font-size: 8px;
  }
  font-size: 80%;
  gap: 10px;
  margin-bottom: 50px;
  padding: 10px;
  img {
    width: 20%;
    border-radius: 40%;
  }
  li{
    font-size: 90%;
    @media screen and (max-width: 768px) {
        font-size: 130%;
      }
  }
  #backTitle,
  #frontTitle {
    font-size: 1.25em;
    @media screen and (max-width: 992px) {
      font-size: 1.75em;
    }
    @media screen and (max-width: 768px) {
      font-size: 1.5em;
    }
    
  }
  #backend {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 40%;
    border-radius: 10px;
    background-color: white;
    border-style: outset;
    border-width: 5px;
    height: fit-content;
    padding-bottom: 5px;
    min-width: 150px;
    max-width: 200px;
    #backTitle {
      justify-self: center;
      color: var(--main-color);
      font-weight: bold;
    }

    #backList {
      justify-self: center;
    }
  }
  li {
    list-style: none;
    display: flex;
    align-items: center;
  }

  #frontend {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 40%;
    border-radius: 10px;
    background-color: white;
    border-style: outset;
    border-width: 5px;
    height: fit-content;
    padding-bottom: 5px;
    min-width: 150px;
    max-width: 200px;
    // @media screen and (max-width: 800px) {
    //   max-width: 200px;
    // }
    #frontTitle {
      justify-self: center;
      color: var(--main-color);
      font-weight: bold;
    }
    #frontList {
      justify-self: center;
    }
  }
}
