#skillDiv {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-bottom: 25px;
  // align-content: stretch;
  //   background-color: whitesmoke;
  align-items: flex-start;
  border-radius: 20px;
  // flex-grow: 1;
  height: 100%;
  @media screen and (max-width: 992px) {
    width: 500px;
    font-size: 8px;
  }
  @media screen and (max-width: 768px) {
    width: 350px;
    font-size: 8px;
  }
  @media screen and (max-width: 576px) {
    width: 300px;
    font-size: 8px;
  }
  font-size: 80%;
  gap: 10px;
  margin-bottom: 50px;
  padding: 10px;
  img {
    width: 20%;
    border-radius: 40%;
  }

  li,
  #backTitle,
  #frontTitle {
    font-size: 1.25em;
    @media screen and (max-width: 992px) {
      font-size: 2em;
    }
    @media screen and (max-width: 768px) {
      font-size: 1.5em;
    }
    @media screen and (max-width: 576px) {
      font-size: 1.25em;
    }
  }
  #backend {
    display: flex;
      flex-direction: column;
      aspect-ratio: 1/1;
      justify-content: flex-start;
      align-items: center;
      max-width: 200px;
      flex: 1 1;
      border-radius: 10px;
      background-color: white;
      border-style: outset;
      border-width: 5px;

    #backTitle {
      justify-self: center;
      color: var(--main-color);
      font-weight: bold;
    }

    #backList {
      justify-self: start;
    }
  }
  li {
    list-style: none;
    display: flex;
    align-items: center;
  }

  #frontend {
    display: flex;
      flex-direction: column;
      aspect-ratio: 1/1;
      justify-content: flex-start;
      align-items: center;
      max-width: 200px;
      flex: 1 1;
      border-radius: 10px;
      background-color: white;
      border-style: outset;
      border-width: 5px;
    // @media screen and (max-width: 800px) {
    //   max-width: 200px;
    // }
    #frontTitle {
      justify-self: center;
      color: var(--main-color);
      font-weight: bold;
    }
    #frontList {
      justify-self: start;
    }
  }
}
