#github {
  position: fixed;
  bottom: 95px;
  left: 4px;
  width: 32px;
  height: 32px;
  margin: 10px 10px;
}
#linkedin {
  position: fixed;
  bottom: 0;
  left: 6px;
  width: 32px;
  height: 28px;
  margin: 10px 10px;
}
#instagram {
    position: fixed;
    left: 0;
    bottom: 42px;
    width: 40px;
    height: 40px;
    margin: 10px 10px;
}
